<%- include layouts/header.ejs %>

        <h2>BASIC CASSANDRA APPLICATION</h2>
        <p>
         &nbsp;<a class="a-inside init" href="/customers" style="background-color:blue">CHECK CUSTOMERS</a>&nbsp; 
        </p>

<%- include layouts/footer.ejs %>
